body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Стили для заголовка */
h1 {
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    animation: fadeInDown 1s ease-in-out;
}

/* Анимация для заголовка */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для параграфов */
p {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Стили для ссылок */
a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f9c53d;
    border-radius: 5px;
    margin-top: 20px;
   
}

a:hover {
    background-color: #f3b72e;
    font-weight: bold;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 20px;
  }
  

  
