<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaisBookworm - Список авторов</title>
    <meta name="description" content="NaisBookworm - Список авторов">
    <meta name="keywords" content="онлайн библиотека, книги, авторы, чтение">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1>Список авторов</h1>
    {% for author in authors %}
        <div class="author">
            <li>{{ author.name }}</li>
        </div>
    {% endfor %}
    <hr>
    <button id="add_author_button" onclick="toggleForm()">Добавить автора</button>
    
    <div id="form-container" style="display: none;">
      <form method="POST" action="{{ url_for('routes.add_author') }}">
          <br>
          <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          <br>
        
          {{ form.submit() }}
        </form>
    </div>
  
    <script>
      // Функция для раскрытия/скрытия формы
      function toggleForm() {
        var formContainer = document.getElementById('form-container');
        var addButton = document.getElementById('add_author_button');
        if (formContainer.style.display === 'none') {
          formContainer.style.display = 'block';
          addButton.textContent = "Скрыть поле";
        } else {
          formContainer.style.display = 'none';
          addButton.textContent = "Добавить автора";
        }
      }
    </script>
</body>
</html>