<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaisBookworm - Список книг</title>
    <meta name="description" content="NaisBookworm - Список книг">
    <meta name="keywords" content="онлайн библиотека, книги, авторы, чтение">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Список книг</h1>
    {% for book in books %}
        <div class="author">
            <a class="book-link" href="{{ url_for('routes.get_book', book_id=book.id) }}"><li>{{ book.title }} - {% for author in book.authors %} {{ author.name }} {% endfor %}</li></a>
        </div>
    {% endfor %}
    <br>
    <hr>
    <button id="add_book_button" onclick="toggleForm()">Добавить книгу</button>
    
    <div id="form-container" style="display: none;">
      <form method="POST" action="{{ url_for('routes.add_book') }}">
        {{ form.csrf_token }}
          <br>
          <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <br>
            <br>
            {{ form.authors.label }}
            {{ form.authors }}
            {% for error in form.authors.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          <br>
        
          {{ form.submit() }}
        </form>
    </div>
    <br>
    <br>
    <a href="{{ url_for('routes.get_home') }}">На главную</a>
    <script>
      // Функция для раскрытия/скрытия формы
      function toggleForm() {
        var formContainer = document.getElementById('form-container');
        var addButton = document.getElementById('add_book_button');
        if (formContainer.style.display === 'none') {
          formContainer.style.display = 'block';
          addButton.textContent = "Скрыть поле";
        } else {
          formContainer.style.display = 'none';
          addButton.textContent = "Добавить книгу";
        }
      }
    </script>
</body>
</html>