<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaisBookworm - {{ book.title }}</title>
    <meta name="description" content="NaisBookworm - {{ book.title }}">
    <meta name="keywords" content="онлайн библиотека, книги, авторы, чтение, {{ book.title }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1>{{ book.title }}</h1>
    <h2>Авторы:</h2>
    {% for author in authors %}
      <h3><a href="{{ url_for('routes.list_author_books', author_id=author.id) }}">{{ author.name }}</a></h3>
    {% endfor %}
</body>